.benner{
    background: url('https://i.pinimg.com/564x/32/64/11/326411522a79021396b94179d42df874.jpg') no-repeat center center;
    background-size: cover ;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}
.flotter{
    background: url('https://i.pinimg.com/474x/86/c5/99/86c599b4472eafdc3a78de0ca1687d2a.jpg');
    background-size:cover ;
    padding-top: 10%;
    
}